{%extends 'base.html'%} {% load static %}{% load extra %} {% block title %}BlogPost{% endblock%} {% block head %}
<link href="{% static  'css/blogpost.css' %}" type="text/css" rel="stylesheet" media="screen,projection" /> {% endblock%} {% block body%} {% load humanize %}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel blue lighten-2 z-depth-3">
                <div>
                    <h1>{{post.title}}</h1>
                    <span><i class="material-icons">person_pin</i>
                        <a href="/about" style="text-decoration: none; color: blue">{{post.author}}</a> </span><br />
                    <span>
                        <i class="material-icons">access_time</i>
                        {{post.timestamp}}
                     </span>
                </div>
                <img class="responsive-img" id="imgs" src="/media/{{post.thumbnail}}" />
                <!-- safe filter is used for the html tag work when they are present in database -->
                <p>{{post.content|safe}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Comment({{comment.count}})</h2>
        {% if user.is_authenticated %}
        <div>Post Comment</div>
        <form action="/blog/usercomment/" method="POST">{%csrf_token %}
            <input type="text" name="comments" style="background-color: aliceblue" />
            <input type="hidden" name="postsno" value="{{post.sno}}" />
            <input type="hidden" name="parentsno" value="" />
            <button class="waves-effect waves-light btn" type="submit">
          Comment
        </button>
        </form>
        {% else %}
        <div>Please Login to post comment</div>
        {% endif %} {% for comm in comment %}
        <div class="card-panel">
            <div class="row">
                <div class="chip">
                    <img src="{% static 'images/user.jfif' %}" alt="Contact Person" /> {{comm.user.username}}
                </div>
                <div>
                    <i class="material-icons">access_time</i> {{comm.timestamp|naturaltime}}
                </div>
                <div>{{comm.comment}}</div>
                <div class="replybox{{comm.sno}}">
                    {% if user.is_authenticated %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Reply</div>
                            <div class="collapsible-body">
                                <form action="/blog/usercomment/" method="POST">{%csrf_token %}
                                    <input type="text" name="comments" style="background-color: #f0f8ff" />
                                    <input type="hidden" name="parentsno" value="{{comm.sno}}" />
                                    <input type="hidden" name="postsno" value="{{post.sno}}" />
                                    <button class="waves-effect waves-light btn" type="submit">
                                    Submit
                                </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="replies blue-grey lighten-2 ml-3 mt-3 " style="margin-left:40px">
                        {%for reply in replydict|get_val:comm.sno %}
                        <div class="chip mt-3">
                            <img src="{% static 'images/user.jfif' %}" alt="Contact Person" /> {{comm.user.username}}
                        </div>
                        <div>
                            <i class="material-icons">access_time</i> {{comm.timestamp|naturaltime}}
                        </div>
                        <div class="mt-3">
                            {{reply.comment}}<br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>

{% block js %}
<Script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });
</Script>
{% endblock%}